{% extends "base.html" %}
{% block content %}

<div class="container">

	<div class="starter-template">
		<h2>About</h2>
		<p class="lead">We are techies who love green juice! Living in the US for the last decade, we enjoyed the <a href="http://wellandgood.com/2013/09/23/juice-bar-map-new-york-city/" target="_blank">delicious explosion of juice bars</a> and got addicted and healthy at the same time. Now that the same is happening in London, we want to make sure it is easy to find and savour these <a href="http://www.thejuicewell.hk/?post_type=juices&p=79" target="_blank">amazing concoctions</a> and also keep up to date on the latest juice bar openings<br><br>

		To be included in the listings, the juice bar or juice brand must be juicing mostly <a href="http://www.juicetonic.com/organic-is-important/" target="_blank">organic produce</a> to maximize vitamins, minerals, enzymes and of course, to minimize toxins.<br><br>

		A lot of startup juice brands are popping up all over London. Many are testing out their blends, business model, supply chain, distribution and so we can't guarantee that these spots will always have a fresh supply of juices in stock. It's best to call and check before you travel far and wide!<br><br>

		We hope you find this site useful.</p>

	</div>

{% endblock %}

