{% extends "base.html" %}
{% block content %}



<h2 class="admin_heading">Juice Bar Admin</h2>
<br>
  
<form action="" method='post'>
  <input type='string' name='name' id='name' placeholder='Name (The Juice Well)'>
  <br>
  <br>

  <input type='string' name='url' id='url' placeholder='URL (juicewell)'>
  <br>
  <br>

  <input type='integer' name='lat' id='lat' placeholder='Latitude'>
  <br>
  <br>

  <input type='integer' name='lng' id='lng' placeholder='Longitude'>
  <br>
  <br>

  <input type='string' name='address' id='address' placeholder='Address (4 Peter Street, Soho, London W1F 0DN)'>
  <br>
  <br>

  <input type='string' name='website' id='website' placeholder='Website (http://www.thejuicewell.hk)'>
  <br>
  <br>

  <input type='string' name='phone_number' id='phone_number' placeholder='Phone Number (+44 20 7439 9399)'>
  <br>
  <br>
  <input type='string' name='instagram_tag' id='instagram_tag' placeholder='Instagram Tag (thejuicewell)'> 
  <br>
  <br> 
  <input type='string' name='foursquare' id='foursquare' placeholder='Foursquare ID'> 
  <br>
  <br>    
  <select name='neighbourhood'>
    <option value="">Neighbourhood</option>
    <option value='Notting-Hill'>Notting Hill</option>
    <option value='Marylebone'>Marylebone</option>
    <option value='West-End'>West End</option>
    <option value='Mayfair'>Mayfair</option>
    <option value='Soho'>Soho</option>
    <option value='Covent-Garden'>Covent Garden</option>
    <option value='Chelsea'>Chelsea</option>
    <option value='Camden'>Camden</option>
    <option value='Shoreditch'>Shoreditch</option>
    <option value='Towerbridge'>Towerbridge</option>
  </select> 
  <br>
  <br> 
  <input type='submit' value='submit'>

</form>
</div>
<br>
<div class="bar_container">
{% for b in bars %}
NAME: {{ b.name }}
<br>
URL: {{ b.url }}
<br>
LATITUDE: {{ b.lat }}
<br>
LONGITUDE: {{ b.lng }}
<br>
ADDRESS: {{ b.address }}
<br>
WEBSITE: {{ b.website }}
<br>
PHONE NUMBER: {{ b.phone_number }}
<br>
INSTAGRAM TAG: {{ b.instagram_tag }}
<br>
FOURSQUARE: {{ b.foursquare }}
<br>
NEIGHBOURHOOD: {{ b.neighbourhood }}
<br>
<br>
{% endfor %}
</div>

	

{% endblock %}