{% extends "base.html" %}
{% block content %}

  
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiYbxd3duyyAZx9qj6HRqKqyRrycF-uho">
    </script>
    <script type="text/javascript">
      juicebars = {{juicebars|safe}};
    </script>

    <script type="text/javascript">
      
        function createMarkerClickListener(map, marker, juicebarName, juicebarAddress, juicebarSite, juicebarPhone) {
          return function() {
          var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h3 id="firstHeading" class="firstHeading">' + juicebarName+'</h3>'+
          '<div id="bodyContent">'+
          '<p>'+juicebarAddress +      
          '<p><a href='+juicebarSite+'>'+
          juicebarSite+'</a></p>'+
          juicebarPhone+ '</p>'+
          '</div>'+
          '</div>';

          var infoWindow = new google.maps.InfoWindow({
            content: contentString
        });
          infoWindow.open(map, marker);
      };

  }

  function initialize() {
        var myLatlng = new google.maps.LatLng(51.5072, -0.1275);
        var mapOptions = {          
          zoom: 13,
          center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        for (var i = 0; i < juicebars.length; i++) {

          var marker = new google.maps.Marker({
            icon: ('http://maps.google.com/mapfiles/ms/icons/green-dot.png'),
            position: new google.maps.LatLng(juicebars[i][1], juicebars[i][2]),
            map: map, 
            title: juicebars[i][0],                         
          });

        google.maps.event.addListener(marker, 'click', createMarkerClickListener(map, marker, juicebars[i][0], juicebars[i][3], juicebars[i][4], juicebars[i][5]));     
      }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  
  <h4>Find organic and cold pressed juices on London's first Juice Map! Juice Bar Reviews coming soon.  </h4>     
  </header>         
    <div id="map-canvas"/>       
 
{% endblock %}

  