{% extends "base.html" %}
{% block content %}

<!--Added an additional head tag which is probably a bad idea-->
<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

tags = ["rootsandbulbs", "imbibery", "juicetonic"]  

	$(document).ready(function() {		

			var tag = tags[2];
			var count = "10";
			var client_id = "a95b93f141f94672889731a5f7835a75";
			var access_parameters = {client_id:client_id};
		

    	function grabImages(access_parameters) {   	    		

    		var instagramUrl = 'https://api.instagram.com/v1/tags/' + tag + 
			'/media/recent?callback=?&count='+ count;
				
			$.getJSON(instagramUrl, access_parameters, onDataLoaded);
    	}

    function onDataLoaded(instagram_data) {
    	if(instagram_data.meta.code == 200) {

    		var photos = instagram_data.data;

    		if(photos.length > 0) {

    			for (var key in photos ){
    				var photo = photos[key];
    				$("#target").append('<img src="' + photo.images.thumbnail.url + '">');
    			}
    		} else {

    			$("#target").append("I couldn't find anything!");
    		}
    	} else {
    		
    		$("#target").append("Something happened");

    	}

    }

    grabImages(access_parameters);

	});


</script>

</head>

	<div id="target"></div>







{% endblock %}